body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
div{
    text-align: center;
    color: #FF8C00;
}
div h1{
    margin-top: 20%;
}
div img{
    width: 5%;
    position: absolute;
    top: 60%;
    left: 32%;
    transform: rotate(90deg);
}
.blade{
    height: 10px;
    background-color: #FF8C00;
    width: 22%;
    position: absolute;
    left: 38%;
    top: 69%;
    z-index: -1;
}
.glow{
    height: 20px;
    background-color: #FF8C00;
    width: 24%;
    position: absolute;
    left: 37%;
    top: 68%;
    z-index: -2;
    filter: blur(10px);
    animation-name: glowAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes glowAni{
    0%   {opacity: 1;}
    10%  {opacity: 0.9;}
    20%  {opacity: 0.8;}
    30%  {opacity: 0.7;}
    40%  {opacity: 0.6;}
    50%  {opacity: 0.5;}
    60%  {opacity: 0.6;}
    70%  {opacity: 0.7;}
    80%  {opacity: 0.8;}
    90%  {opacity: 0.9;}
    100% {opacity: 1;}
}
@media(max-width: 450px){
    div img{
        width: 20%;
        position: absolute;
        top: 65%;
        left: 40%;
        transform: rotate(0deg);
    }
    .blade{
        transform: rotate(90deg);
        width: 60%;
        top: 52%;
        left: 20%;
    }
    .glow{
        transform: rotate(90deg);
        width: 65%;
        top: 50%;
        left: 17.5%;
    }
}